@import url(color.css);
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Cinzel&family=Cinzel+Decorative&family=Press+Start+2P&family=Special+Elite&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alice&family=Bebas+Neue&family=Cinzel&family=Cinzel+Decorative&family=Press+Start+2P&family=Special+Elite&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

.containerFeed {
    display: flex;
    padding: 2%;
}

/* Mobile começa aqui*/

.postDesktop {
    display: none;
}

.imgPosteAqui, .btnPostHere {
    position: fixed;
    width: 17%;
    height: auto;
    bottom: 15%;
    right: 5%;
    max-width: 75px;
    z-index: 3;
}

.containerFeedMobile {
    margin-top: 2%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Comfortaa', cursive;
    flex-wrap: wrap;
    font-size: 0.7rem;
}

.topicsPost {
    display: inline-flex;
    width: 100%;
    height: 4%;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

input {
    margin-right: 2%;
}

.topic {
    margin-right: 5%;
    background-color: var(--button);
    border-radius: 20px;
    padding: 1%;
}

.menuPostMobile, .containerPosts {
    width: 90%;
    height: 40%;
    background-color: var(--post);
    border-radius: 20px;
    display: inline-flex;
    flex-wrap: wrap;
}

.containerImgUser {
    width: 50px;
    height: 50px;
    border: 1px solid var(--body);
    border-radius: 50%;
    margin: 2%;
}

.menuPostMobile p {
    align-self: flex-end;
    margin-bottom: 2%;
}

.btnFeed {
    width: 10%;
    height: 10%;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 2% 1% 0% auto;
    font-family: 'Comfortaa', cursive;
}

.inputPost {
    width: 100%;
    height: 40%;
    margin: 0% 2%;
    border-radius: 10px;
    padding: 2%;
    resize: none;
}

.postLikes{
    text-align: center;
}

.addFile {
    margin: 2%;
    width: 8%;
    height: auto;
}

.inputFile {
    display: none;
    height: auto;
    width: 100%;
}

.btnAddPost {
    width: 15%;
    height: 15%;
    background-color: var(--button);
    border-radius: 20px;
    margin: 2% 2% 2% auto;
    align-self: flex-end;
    padding: 1%;
}

.error{
    margin: auto;
}

@media (min-device-width:500px) {
    .containerFeedMobile {
        font-size: 1rem;
    }

    input[type=checkbox] {
        transform: scale(1.5)
    }
}

@media (min-device-width:900px) {
    .imgPosteAqui {
        display: none;
    }

    .containerFeed {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .comoFoi{
        margin-top: 2%;
        margin-left: 2%;
    }

    .postDesktop {
        display: inline-flex;
        width: 60%;
        background-color: var(--post);
        flex-wrap: wrap;
        border-radius: 20px;
        padding: 1%;
        font-family: 'Comfortaa', cursive;
    }

    .containerImgUserDesk {
        width: 55px;
        height: 55px;
        border: 1px solid var(--body);
        border-radius: 50%;
        margin: 0% 2% 2% 0%;
    }

    .postDesktop p {
        align-self: flex-end;
        margin-bottom: 2%;
    }

    .inputPost{
        margin: 0;
    }

    .btnClean {
        align-self: flex-start;
        margin: 0% 0% 0% auto;
        font-size: 1.3rem;
        width: 10px;
        height: 10px;
        background-color: transparent;
    }

    .inputPostDesk {
        width: 90%;
        margin: 0% auto;
    }

    input {
        justify-self: flex-start;
        align-self: flex-end;
        margin: 2% 1% 3% 0%;
    }

    .topicDesk {
        justify-self: flex-start;
        align-self: flex-end;
        margin: 2% 2% 2.5% 0%;
    }

    .addFile {
        margin: auto 0% auto auto;
        height: auto;
        width: 4%;
    }

    .btnAddPostDesk {
        margin: auto 2%;
        width: 10%;
        height: auto;
        font-size: 1rem;
        background-color: var(--button);
        border-radius: 20px;
        align-self: flex-end;
        justify-self: end;
        padding: 1%;
    }

    .error {
        width: 100%;
        margin-top: 2%;
    }
}

/* Mobile termina aqui*/