* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.inputs-log,
.inputPassword {
    background: transparent;
    border-bottom: 1px solid #FA0000;
    align-self: flex-start;
    width: 80%;
    height: 100%;
    color: white;
}

.containerLogin,
.containerFPasswword,
.containerRegister {
    margin: auto;
    margin-top: auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5% 2%;
}

.containerFPasswword {
    justify-content: center;
    align-items: center;
}

.formLogIn {
    height: 50%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.formRegister,
.formFPassword {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-self: center;

}

.formFPassword {
    height: 50%;
}

.formLogIn label,
.formRegister label,
.formFPassword label {
    width: 100%;
    text-align: left;
    margin-left: 2%;
}

.formFPassword label {
    height: 2%;
}

.formLogIn input,
.formRegister input,
.formFPassword input {
    margin: 5% 0% 5% 2%;
    height: 10%;
    width: 80%;
    align-self: flex-start;
    justify-content: end;
}

.formRegister input {
    height: 7%;
}

.seePassword {
    width: 7%;
    height: auto;
    align-self: center;
    justify-content: center;
    margin: 0% auto;
    cursor: pointer;
}

.formLogIn a,
.formRegister a {
    width: 100%;
}

.linkGoogle {
    width: 100%;
    background-color: transparent;
}

.google {
    background-color: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btnGoogleImg {
    width: 20px;
    height: 20px;
    margin-left: 2%;
}

.linkRegister {
    justify-self: end;
}

button {
    height: 100%;
    width: 100%;
    margin: 2% 0% 10% 0%;
    color: white;
    cursor: pointer;
}

.formFPassword button {
    margin: 0% auto;
}


.button-register-lo {
    height: 80%;
}

.formFPassword p,
.formLogIn p,
.formRegister p {
    text-align: center;
    width: 100%;
}


@media (min-device-width: 550px) {

    .containerLogin,
    .containerRegister,
    .containerFPasswword {
        margin-top: 2%;
        border: 1px solid black;
        border-radius: 20px;
        height: 90%;
        padding: 2%;
        background-color: #18191a;
        box-shadow: 0 0 1em gray;
        max-width: 500px;
        max-height: 600px;
        align-self: center;
        justify-self: center;
    }

    .formLogIn label {
        margin: 2% 100% 0% 2%;
    }

    .formRegister label {
        width: 100%;
        text-align: left;
    }
}